.header-section {
    margin: 0;
    padding: 0;
}

.header-image {
    background-image: url('../images/trandall_profile.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media (max-width: 400px) {
    .header-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        gap: 4px;
        min-width: 220px;
    }

    .header-image {
        width: clamp(240px, 273px, 340px);
        font-size: 36px;
        height: clamp(160px, 230px, 235px);
        margin-bottom: 8px;
    }

    .header-info {
        display: flex;
        flex-direction: column;
        margin: 0px 12px 0px 12px;
        padding: 4px;
        text-align: center;
        align-items: center;
        gap: 8px;
        height: 100%;
    }

    .header-title {
        margin: 0px;
        text-align: center;
        font-size: 24px;
        font-weight: 500;
    }

    .header-description {
        margin: 0px;
    }

    .header-buttons-container {
        display: flex;
        gap: 4px;
    }

    .header-btn {
        height: 30px;
        width: 30px;
        cursor: pointer;
    }
}